<mat-nav-list>
    <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> <span class="nav-caption">&nbsp;Dashboard</span>
    </a>
    <a mat-list-item routerLink="/educator">
        <mat-icon>people</mat-icon> <span class="nav-caption">&nbsp;Educator</span>   
    </a>
    <a mat-list-item routerLink="/certificate" >
        <mat-icon>school</mat-icon><span class="nav-caption">&nbsp;Certificates</span>
    </a>
    <a mat-list-item routerLink="/apply-approvals">
        <mat-icon>fact_check</mat-icon><span class="nav-caption">&nbsp;Apply/Process &nbsp;Approval</span>
    </a>
    <a mat-list-item routerLink="/upload-data">
        <mat-icon>attach_file</mat-icon><span class="nav-caption">&nbsp;View Upload Data</span>
    </a>
    <a mat-list-item routerLink="/manage-users">
        <mat-icon>account_box</mat-icon><span class="nav-caption">&nbsp;Manage Users</span>
    </a>
    <a mat-list-item routerLink="/forms">
        <mat-icon>assignment</mat-icon><span class="nav-caption">&nbsp;Forms</span>
    </a>
    <a mat-list-item routerLink="/reports">
        <mat-icon>reports</mat-icon><span class="nav-caption">&nbsp;Reports</span>
    </a>
    <a mat-list-item routerLink="/prof-programs">
        <mat-icon>computer</mat-icon><span class="nav-caption">&nbsp;Prof. &nbsp;Learning Programs</span>
    </a>
    <a mat-list-item routerLink="/prof-setup">
        <mat-icon>build</mat-icon><span class="nav-caption">&nbsp;Prof. &nbsp;Learning Setup</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/help">
        <mat-icon>help</mat-icon><span class="nav-caption">&nbsp;Help</span>
    </a>
    <a mat-list-item routerLink="/contactus">
        <mat-icon>contact_phone</mat-icon><span class="nav-caption">&nbsp;Contact Us</span>
    </a>
  </mat-nav-list>